@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;margin: 0;box-sizing: border-box;
}

.hero-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(53, 68, 99, 0.4),
      rgba(53, 68, 99, 0.4)
    ),
    url("./assets/hero.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
}

/* add parallax */
.hero-img2 {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 1.5rem;
  background-image: linear-gradient(
      180deg,
      rgba(50, 59, 77, 0.4),
      rgba(245, 247, 252, 0.4)
    ),
    url("./assets/table.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
}


@media (min-width: 300px) and (max-width: 600px) {
  .hero-img2 {
   display: none;
  }
  
}